<!-- Delete Modal HTML -->
<div id="deleteQuestionModal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form>
        <div class="modal-header" id="delete_notice">
          <h4 class="modal-title">Xóa Quizz</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div id="dwe">
          <div class="modal-body">
            <input type="text" required hidden>
            <p>Bạn có chắc muốn xóa Quizz này không ?</p>
            <p class="text-warning"><small>Xóa rồi không lấy lại được đâu !</small></p>
          </div>
        </div>
        <div class="modal-footer" id="btn-delete-ques">
          <input type="button" class="btn btn-danger" data-dismiss="modal" value="Đóng">
          <input type="submit" class="btn btn-danger" (click)="deleteQuestionModule()" value="Xóa">
        </div>
      </form>
    </div>
  </div>
</div>
