<div class="container">
  <div class="container-fluid p-0">
    <div style="background-color: white;border-radius: 5px">
      <app-main-title id="title" title="&nbsp;&nbsp;&nbsp;---- Danh Sách User ----" type="special"></app-main-title>
    </div>
    <div class="row" >
      <div class="col-xl-8">
        <div class="card">
          <div class="card-header pb-0">
            <div class="card-actions float-right">
              <div class="dropdown show">
                <a href="#" data-toggle="dropdown" data-display="static">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Tìm Kiếm</a>
                  <a class="dropdown-item" href="#">Sửa Danh Sách</a>
                  <a class="dropdown-item" href="#">Xóa Toàn Bộ</a>
                </div>
              </div>
            </div>
            <h5 class="card-title mb-0">Danh Sách Chung</h5>
          </div>
          <div class="card-body" style="height: 660px">
            <table class="table table-striped" style="width:100%">
              <thead>
              <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Tài Khoản</th>
                <th>Email</th>
                <th>Quyền</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;Xóa</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let i = index; let user of userList | slice: (page-1) * pageSize : page * pageSize" >
                <td><img src="{{user.avatar}}" width="50" height="50" class="rounded-circle my-n1" alt="Avatar" ></td>
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                <td><span class="badge bg-success" style="line-height: 25px; width: 75px">{{user.roles[0].name.substring(5)}}</span></td>
                <td>
                  <button href="#deleteUserModal" data-toggle="modal" (click)="setDeleteId([user.id])" class="btn btn-danger">Xóa</button>
                </td>

              </tr>
              </tbody>
            </table>
            <p> Trang Danh Sách </p>
            <ngb-pagination
              [(page)]="page"
              [pageSize]="pageSize"
              [collectionSize]="userList.length"></ngb-pagination>
          </div>
        </div>
      </div>

      <div class="col-xl-4">
        <div class="card">
          <div class="card-header">
            <div class="card-actions float-right">
              <div class="dropdown show">
                <a href="#" data-toggle="dropdown" data-display="static">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
            <h5 class="card-title mb-0">Thông Tin Admin</h5>
          </div>
          <div class="card-body">
            <div class="row g-0">
              <div class="col-sm-3 col-xl-12 col-xxl-3 text-center">
                <img src="{{userInfo.avatar}}" width="80" height="80" class="rounded-circle mt-2" alt="Angelica Ramos">
              </div>
              <div class="col-sm-9 col-xl-12 col-xxl-9">
                <strong>Giới Thiệu</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua.</p>
              </div>
            </div>
            <table class="table table-sm mt-2 mb-4">
              <tbody>
              <tr>
                <th>Name</th>
                <td>{{userInfo.name}}</td>
              </tr>
              <tr>
                <th>Organization</th>
                <td>Halana Codegym</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{userInfo.email}}</td>
              </tr>
              <tr>
                <th>Account</th>
                <td>{{userInfo.username}}</td>
              </tr>
              <tr>
                <th>Status</th>
                <td><span class="badge bg-success">Active</span></td>
              </tr>
              </tbody>
            </table>

            <strong>Hoạt Động Admin</strong>

            <ul class="timeline mt-2 mb-0">
              <li class="timeline-item">
                <strong>Signed out</strong>
                <span class="float-right text-muted text-sm">30m ago</span>
                <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>
              </li>
              <li class="timeline-item">
                <strong>Created invoice #1204</strong>
                <span class="float-right text-muted text-sm">2h ago</span>
                <p>Sed aliquam ultrices mauris. Integer ante arcu...</p>
              </li>
              <li class="timeline-item">
                <strong>Discarded invoice #1147</strong>
                <span class="float-right text-muted text-sm">3h ago</span>
                <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit...</p>
              </li>
              <li class="timeline-item">
                <strong>Signed in</strong>
                <span class="float-right text-muted text-sm">3h ago</span>
                <p>Curabitur ligula sapien, tincidunt non, euismod vitae...</p>
              </li>
              <li class="timeline-item">
                <strong>Signed up</strong>
                <span class="float-right text-muted text-sm">2d ago</span>
                <p>Sed aliquam ultrices mauris. Integer ante arcu...</p>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteUserModal" class="modal fade">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <form>
        <div class="modal-header" id="delete_notice">
          <h4 class="modal-title">Xóa User</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div id="dwe">
          <div class="modal-body">
            <input type="text" required hidden>
            <p>Bạn có chắc muốn xóa User này không ?</p>
            <p class="text-warning"><small>Xóa rồi không lấy lại được đâu !</small></p>
          </div>
        </div>
        <div class="modal-footer" id="btn-delete-ques">
          <input type="button" class="btn btn-danger" data-dismiss="modal" value="Đóng">
          <input type="submit" class="btn btn-danger" (click)="deleteUser([deleteId])" value="Xóa">
        </div>
      </form>
    </div>
  </div>
</div>

