
<!--<footer class="footer" style="background-color: #000000;">-->
<!--        <div class="d-sm-flex justify-content-center justify-content-sm-between">-->
<!--          <span style="color: white" class="text-muted d-block text-center text-sm-left">Một sản phẩm của team Halana</span>-->
<!--          <span style="color: #white" class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Team Halana</span>-->
<!--        </div>-->
<!--</footer>-->

<div class="credit">Created by <span>Mr. Long Comtor</span> | all rights reserved!</div>
