
<!-- Add Modal HTML -->
<div id="addQuestionModal" class="modal fade" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-sm-2">&nbsp;</div>
        <app-main-title title="&nbsp;&nbsp;&nbsp;Thêm Câu Hỏi" type="special"></app-main-title>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <form [formGroup]="createForm" (ngSubmit)="createQuestion()">
        <div class="modal-body" id="question_info">
          <div class="form-group">
            <label>Nội Dung Câu Hỏi</label>
            <input formControlName="content" [(ngModel)]="content" id="ques_content" type="text" class="form-control" style="color: black !important;" required>
          </div>
          <div formGroupName="category" class="form-group">
            <label>Mục&nbsp; &nbsp;</label>
            <select formControlName="id"[(ngModel)]="category">
              <option ng-selected="true" id="category_id" >Chọn Mục</option>
              <option  *ngFor="let c of categories" [ngValue]="c.id">{{c.name}}</option>
            </select>
          </div>
          <div formGroupName="level" class="form-group">
            <label>Level &nbsp;</label>
            <select formControlName="id" [(ngModel)]="level">
              <option id="level_id" value="0">Chọn Level</option>
              <option *ngFor="let l of levels" [ngValue]="l.id">{{l.level}}</option>
            </select>
          </div>
          <div formGroupName="type" class="form-group">
            <label>Loại&nbsp; &nbsp;</label>
            <select formControlName="id" [(ngModel)]="type">
              <option id="type_id" value="0">Chọn Type</option>
              <option  *ngFor="let t of types" [ngValue]="t.id">{{t.type}}</option>
            </select>
          </div>
          <div class="modal-footer" id="btn_addquestion">
            <input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
            <input id="btn-create" type="submit"
                   class="btn btn-success" value="Thêm Quizz">
          </div>
        </div>
      </form>
      <form [formGroup]="answerForm" (ngSubmit)="submitQuestion()">
        <div class="modal-body">
          <div class="form-group" id="show_answer" style="margin-left: 25px">
          </div>
          <div class="form-group" id="new_question">
            <input id="ops" type = "text" class = "form-control" required style="color: black !important;">
          </div>
          <div class="modal-footer" id="submit_question">
            <input class="btn btn-success" type = "submit" name = "" (click)="createAnswer();listAnswer();" value="Thêm Đáp Án">
            <input type="submit" class="btn btn-success" value="Gửi">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
